<style>
  .message-content{
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 24px;
  }
</style>

<div class="message-content">
  <p>Olá {{name}}</p>
  <br/>
  <p>Voçê esta recebendo este email para redefinição da senha de sua conta de usuario no apiVendas</p>
  <p>Clique no link a seguir para cadastrar sua nova senha: </p>
  <p><a href="{{link}}">Nova senha</a></p>
  <br/>
  <p>Obrigado !</p>
  <p>Equipe Api Vendas</p>
</div>
